.content {
    align-self: flex-start;

    .ctas {
        margin-top: $space-4;


        @include for-tablet(){
            margin: 0;
        }
    }
}


.media {
    margin-bottom: $space-4;

    @include for-tablet(){
        margin: 0;
    }

    .img {
        width: 100%;
        border-radius: $radius-lg;
        max-height: 450px;

        @include for-tablet(){
            max-height: 100%;
        }
    }
}