.header {
    text-align: center;

    .text {
        max-width: 670px;
        color: $foreground-muted;
    }
}

.items {
    margin-top: $space-4;
    display: flex;
    flex-direction: column;
    gap: $space-2;
    
    @include for-tablet(){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px;
        gap: $space-2;
    }
}